@import "styles/main.module.scss";

.container {
    position: sticky;
    top: 0;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: $color-black;
    height: 4.5rem;

    @include respond(phone) {
        grid-template-columns: 1fr;
    }

    .headerLogo {
        position: relative;

        @include respond(phone) {
            display: none;
        }

        svg {
            @include absoluteCenter;
            width: 10rem;
            height: 8rem;

            path {
                fill: $color-primary;
            }
        }
    }

    .mainHeaderIcons {
        @include centerElement;
        gap: 3rem;

        @include respond(phone) {
            justify-content: space-around;
            gap: unset;
        }

        span {
            cursor: pointer;

            &:nth-child(1) {
                svg {
                    width: 2.4rem;
                    height: 2.4rem;

                    path {
                        stroke: $color-gray;
                        stroke-width: 1.5;
                    }
                }

                &.active,
                &:hover {
                    path {
                        stroke: $color-primary;
                    }
                }
            }

            &:nth-child(2) {
                svg {
                    width: 1.8rem;
                    height: 1.8rem;

                    circle {
                        fill: $color-gray;
                    }

                    path {
                        fill: $color-gray;
                    }
                }

                &.active,
                &:hover {
                    circle {
                        fill: $color-primary;
                    }
                    path {
                        fill: $color-primary;
                    }
                }
            }

            &:nth-child(3) {
                svg {
                    width: 2rem;
                    height: 2rem;

                    path {
                        fill: $color-gray;
                    }
                }

                &.active,
                &:hover {
                    path {
                        fill: $color-primary;
                    }
                }
            }

            &:nth-child(4) {
                svg {
                    width: 2.5rem;
                    height: 2.5rem;

                    path {
                        fill: $color-gray;
                    }
                }

                &.active,
                &:hover {
                    path {
                        fill: $color-primary;
                    }
                }
            }

            &:nth-child(5) {
                svg {
                    width: 2rem;
                    height: 2rem;

                    path {
                        stroke: $color-gray;
                    }
                }

                &.active,
                &:hover {
                    path {
                        stroke: $color-primary;
                    }
                }
            }
        }
    }
}
