@import "styles/main.module.scss";

.container {
    width: 65rem;
    min-height: 30rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: 30% 70%;
    margin-top: 2rem;

    .budgetBody {
        background-color: $color-black;
        border-radius: 1.2rem;
        color: $color-white;
        padding: 1rem;
    }
}
