@import "styles/main.module.scss";

.container {
    width: 65rem;
    min-height: 30rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: 30% 70%;
    margin: 2rem 0rem;

    @include respond(phone) {
        display: flex;
        flex-direction: column;
        margin: 1rem 0rem;
    }
}
