@import "styles/main.module.scss";

.container {
    min-height: calc(100vh - 8.5rem);
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .todoContent {
        margin: 2rem 0rem;
        width: 65rem;
        display: grid;
        gap: 2rem;
        grid-template-columns: 30% 70%;

        @include respond(phone) {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 1rem 0rem;
        }
    }
}
