@import "styles/main.module.scss";

.container {
    width: 40rem;
    background-color: $color-black;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    border-radius: 1.5rem;

    .todoSubject {
        color: $color-white;
        margin-bottom: 0.5rem;
    }

    .todoBody {
        display: grid;
        grid-template-columns: 5% 70% 20% 5%;
        color: $color-gray;


        .actions {
            display: flex;
            svg {
                width: 2rem;
                height: 3rem;
                cursor: pointer;

                path {
                    stroke: $color-red;
                }
            }
        }
    }
}