@import "styles/main.module.scss";

.container {
    background-color: $color-black;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    border-radius: 1.5rem;

    @include respond(phone) {
        padding: 1rem;
        margin: 0 0.5rem 1rem 0.5rem;
        border-radius: 1.2rem;
    }

    &:last-child {
        margin-bottom: 0rem;
    }

    .todoSubject {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $color-white;
        margin-bottom: 0.5rem;

        h3 {
            margin: 0;
        }

        span {
            color: $color-gray;
        }
    }

    .todoBody {
        display: grid;
        grid-template-columns: 80% 20%;
        color: $color-gray;

        @include respond(phone) {
            display: flex;
            flex-direction: column;
        }

        .content {
            span {
                color: $color-primary;
                cursor: pointer;
            }
        }

        .actions {
            display: flex;
            justify-content: flex-end;
            gap: 0.5rem;

            .checkIcon {
                svg {
                    width: 1.7rem;
                    height: 1.8rem;
                    cursor: pointer;

                    path {
                        fill: $color-gray;
                    }
                }

                &.completed {
                    svg {
                        path {
                            fill: $color-green;
                        }
                    }
                }
            }

            .editIcon {
                svg {
                    width: 2rem;
                    height: 1.8rem;
                    cursor: pointer;
                }
            }

            .restoreIcon {
                svg {
                    width: 1.8rem;
                    height: 1.8rem;
                    cursor: pointer;

                    path {
                        fill: $color-green;
                    }
                }
            }

            .trashIcon {
                svg {
                    width: 1.8rem;
                    height: 1.8rem;
                    cursor: pointer;

                    path {
                        stroke: $color-red;
                    }
                }
            }
        }
    }
}
