@import "styles/main.module.scss";

.caractersHeader {
    background-color: $color-black;
    width: 48rem;
    margin: 2rem auto;
    border-radius: 1.5rem;
    padding: 1rem;

    @include respond(phone) {
        background-color: unset;
        width: unset;
        margin: 1rem auto;
        padding: 0.5rem;
        border-radius: unset;
    }

    .headerInfo {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;

        h1 {
            margin: 0;
            color: $color-gray;

            @include respond(phone) {
                margin-bottom: 1rem;
            }
        }
    }

    .caractersFilters {
        display: flex;
        justify-content: space-between;

        @include respond(phone) {
            flex-direction: column;
            justify-content: unset;
        }

        .search {
            input {
                background-color: $color-gray;
                padding: 0.7rem;
                width: 13rem;
                border: none;
                outline: none;
                color: $color-white;
                border-radius: 1rem;
                font-size: 1.2rem;

                @include respond(phone) {
                    width: 93%;
                    margin-bottom: 1rem;
                    padding: 0.8rem;
                }
            }
        }

        .status,
        .gender {
            position: relative;
            .activeButton {
                width: 14rem;
                font-size: 1.2rem;
                padding: 0.7rem 1.2rem;
                border-radius: 1rem;
                color: $color-white;
                border: none;
                outline: none;
                background-color: $color-primary;
                display: flex;
                align-items: center;
                justify-content: space-between;
                text-transform: capitalize;

                @include respond(phone) {
                    width: 100%;
                    margin-bottom: 1rem;
                }

                svg {
                    width: 2rem;
                    height: 1.5rem;
                    path {
                        stroke: $color-white;
                    }
                }
            }

            .dropButtons {
                background-color: $color-gray;
                z-index: 1;
                position: absolute;
                top: 3.3rem;
                left: 0;
                width: 100%;
                border-radius: 1rem;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                button {
                    text-align: left;
                    width: 100%;
                    color: $color-white;
                    font-size: 1.2rem;
                    padding: 0.7rem 1.2rem;
                    border: none;
                    outline: none;

                    &:hover {
                        color: $color-primary;
                    }
                }
            }
        }
    }

    .underHeader {
        margin-top: 1rem;
        color: $color-gray;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            margin: 0;
        }

        span {
            font-size: 1.5rem;
        }
    }
}
