@import "styles/main.module.scss";

.container {
    min-height: calc(100vh - 8.5rem);

    .caractersHeader {
        background-color: $color-black;
        width: 50rem;
        height: 5rem;
        color: $color-gray;
        margin: 2rem auto;
        display: grid;
        place-items: center;
        border-radius: 1.5rem;
        font-size: 1.5rem;
    }

    .infiniteScroll {
        margin: 2rem auto;
        width: 50rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }
}