@import "styles/main.module.scss";

.container {
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: $color-gray;
    cursor: pointer;
    border-radius: 0.8rem;
    font-size: 1.2rem;
    text-align: left;
    color: $color-white;

    @include respond(phone) {
        margin-bottom: 1rem;
    }

    &.green {
        background-color: $color-green;
    }

    &.red {
        background-color: $color-red;
    }

    &:disabled {
        cursor: not-allowed;
    }
}
