@import "styles/main.module.scss";

.container {
    background-color: $color-black;
    margin: 2rem 0rem;
    width: 48rem;
    border-radius: 1.5rem;
    padding: 1.5rem;
    color: $color-white;

    h1 {
        @include centerElement;
        color: $color-gray;
        margin-bottom: 2rem;
    }

    .firstParagraph {
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }

    .secondParagraph {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    .icons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: 1rem;
        margin-bottom: 2rem;
    }
}
