@import "styles/main.module.scss";

.container {
    background-color: $color-black;
    margin: 2rem 0rem;
    width: 48rem;
    border-radius: 1.5rem;
    padding: 1.5rem;
    color: $color-white;

    h1 {
        @include centerElement;
        color: $color-gray;
        margin-bottom: 2rem;
    }

    .firstParagraph {
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }

    .secondParagraph {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    .icons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: 1rem;
        margin-bottom: 2rem;
        .icon {
            background-color: $color-gray;
            border-radius: 3rem;
            padding: 0.5rem 1rem;
            width: 10rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            svg {
                width: 2rem;
                height: 2rem;
            }

            span {
                font-size: 1.2rem;
            }
        }
    }

    .quizDescriptions {
        margin-bottom: 1rem;
        .quizHeader {
            margin-bottom: 0.5rem;
            background-color: $color-primary;
            padding: 0.5rem 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 3rem;

            span {
                font-size: 1.3rem;
                color: $color-white;
                margin-right: 1rem;
            }
            svg {
                width: 2rem;
                height: 2rem;
                path {
                    stroke: $color-white;
                }
            }
        }

        .appDescription {
            text-indent: 2rem;
        }
    }
}
