@import "styles/main.module.scss";

.container {
    width: 100%;

    .inputWrapper {
        position: relative;
        input {
            padding: 0.7rem;
            width: 92%;
            background-color: transparent;
            font-size: 0.9rem;
            margin-bottom: 2rem;
            border: none;
            outline: none;
            border-bottom: 0.1rem solid $color-red;
            color: $color-white;

            &.incomeInput {
                border-bottom: 0.1rem solid $color-green;
            }
        }

        .error {
            position: absolute;
            bottom: 0.8rem;
            color: $color-red;
            font-size: 0.8rem;
        }
    }

    .submitButtonWrapper {
        display: flex;
        justify-content: flex-end;

        button {
            color: $color-white;
            border: none;
            outline: none;
            background-color: $color-red;
            padding: 0.5rem 1rem;
            font-size: 0.8rem;
            border-radius: 0.6rem;

            &.incomeButton {
                background-color: $color-green;
            }
        }
    }

    .transactionHeader {
        font-size: 1.2rem;
        margin-top: 1.5rem;
        color: $color-gray;
    }

    .center {
        @include centerElement;
    }
}
