@import "styles/main.module.scss";

.container {
    background-color: $color-black;
    border-radius: 1.2rem;
    color: $color-white;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    @include respond(phone) {
        display: flex;
        flex-direction: column;
        border-radius: unset;
        background-color: unset;
    }
}
