@import "styles/main.module.scss";

.container {
    background-color: $color-black;
    border-radius: 1.2rem;
    color: $color-white;
    padding: 1rem;

    @include respond(phone) {
        background-color: transparent;
        border-radius: unset;
    }

    h1 {
        margin: 0;
        margin-bottom: 3rem;
        text-align: center;
        color: $color-gray;

        @include respond(phone) {
            margin-bottom: 2rem;
        }
    }

    .balance {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;

        p {
            margin: 0;

            &:first-child {
                font-size: 1.3rem;
                margin-bottom: 1rem;
            }
            &:last-child {
                font-size: 1.7rem;
            }
        }
    }

    .amountValues {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .item {
            display: flex;
            align-items: center;
            flex-direction: column;

            &:first-child {
                color: $color-green;
            }

            &:last-child {
                color: $color-red;
            }

            span {
                margin-bottom: 1rem;
            }
        }
    }

    .grafic {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .incomeGrafic,
        .expenseGrafic {
            margin: 0 auto;
            border: 0.1rem solid $color-green;
            border-radius: 0.7rem;
            overflow: hidden;
            width: 4rem;
            height: 10rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            &.expenseGrafic {
                border: 0.1rem solid $color-red;
            }

            .incomePercent {
                background-color: $color-green;
                transition: all 0.8s ease;
            }

            .expensePercent {
                background-color: $color-red;
                transition: all 0.8s ease;
            }
        }
    }
}
