@import "styles/main.module.scss";

.container {
    @include centerElement;
    flex-direction: column;

    svg {
        width: 12rem;
        height: 10rem;
        margin-top: 0;

        @include respond(phone) {
            width: 10rem;
            height: 8rem;
        }

        path {
            stroke: $color-gray;
            fill: transparent;
        }
    }
    p {
        margin-top: -0.5rem;
        color: $color-gray;
        font-size: 1.5rem;
    }

    &.budgetContainer {
        margin-top: 3rem;
        svg {
            width: 8rem;
            height: 6rem;
        }
        p {
            font-size: 1rem;
        }
    }
}
