@import "styles/main.module.scss";

.container {
    position: relative;
    width: 30rem;
    background-color: $color-modal-background;
    border-radius: 1.7rem;
    color: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;

    @include respond(phone) {
        width: 100%;
        padding: 1rem;
        margin: 0 0.5rem;
        border-radius: 1.5rem;
    }

    h2 {
        text-align: center;
    }

    .subject {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        position: relative;

        label {
            margin-bottom: 1rem;
        }

        input {
            background-color: $color-gray;
            border: none;
            outline: none;
            font-size: 1.2rem;
            padding: 1rem;
            border-radius: 1rem;
            color: $color-white;
        }
        .error {
            position: absolute;
            bottom: -1.2rem;
            color: $color-red;
            font-size: 0.8rem;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        position: relative;

        label {
            margin-bottom: 1rem;
        }

        textarea {
            resize: none;
            background-color: $color-gray;
            border: none;
            outline: none;
            height: 10rem;
            font-size: 1.2rem;
            padding: 1rem;
            border-radius: 1rem;
            color: $color-white;
            @include smallScrollbar;
        }

        .error {
            position: absolute;
            bottom: -1.2rem;
            color: $color-red;
            font-size: 0.8rem;
        }
    }

    .submitButton {
        display: flex;
        justify-content: center;
        align-items: center;
        button {
            width: 100%;
            background-color: $color-primary;
            font-size: 1.3rem;
            border: none;
            color: white;
            padding: 1rem;
            border-radius: 1rem;

            &.created {
                background-color: $color-green;
            }
        }
    }
}
