.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    button {
        background-color: blueviolet;
        border-radius: 3rem;
        padding: 0.5rem 2rem;
        color: white;
    }
}