@import "styles/main.module.scss";

.container {
    background-color: $color-black;
    border-radius: 1.2rem;
    color: $color-white;
    padding: 1rem;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            color: $color-gray;
            margin: 0;
            font-size: 1.8rem;
        }

        button {
            color: $color-white;

            svg {
                width: 3.5rem;
                height: 3.5rem;

                path {
                    stroke: $color-primary;
                }
            }
        }
    }
}